/*STRUCTURE*/
a:link,
a:visited {
	color: #2B5A1E;
	text-decoration: none;
}
a:hover {
	color: #498937;
}
a.post-edit-link {
	background: #2B5A1E;
	border-radius: 2px;
	padding: 5px 15px;
	color: #ACC5A5;
}
a.post-edit-link:hover {
	background: #427F31;
	color: #FFFFFF;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.clearfix {
	overflow: auto;
	zoom: 1;
}
footer.entry-footer {
	margin: 30px 0 0;
}
.prev-next-posts {
	display: block;
	margin: 30px auto;
	width: 100%;
	max-width: 900px;
	padding: 0 10px;
	font-weight: 700;
	overflow: auto;
}
.prev-next-posts .next-posts-link {
	float: left;
}
.prev-next-posts .prev-posts-link {
	float: right;
}
.prev-next-posts.inverse .next-posts-link {
	float: right;
}
.prev-next-posts.inverse .prev-posts-link {
	float: left;
}


/*---  HEADER  ---*/
#top-bar {
	text-align: center;
	background: #F56600;
	color: #FFFFFF;
	padding: 4px 0;
}
#top-bar p {
	margin: 5px 0;
}
/*navbar*/
.front-page-header {
	width: 100%;
	position: relative;
	background: #DBDBDB;
}
nav.site-nav {
	border-bottom: 3px solid #F56600;
}
nav.site-nav.front-page-nav {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	border-bottom: none;
}
nav.site-nav .nav-container {
	padding: 30px 10px 10px;
	display: flex;
}
nav.site-nav.front-page-nav .nav-container {
	background: #FFFFFF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.1);
	box-shadow: 0 5px 30px rgba(0,0,0,0.1);
}
nav.site-nav .logo {
	max-width: 290px;
	padding: 5px;
	/*background: #CB3F3F;*/
}
nav.site-nav .mobile-nav-btn {
	background: none;
	border: none;
	color: #2B5A1E;
	font-size: 2em;
}
nav.site-nav .nav-menu {
	flex-grow: 1;
	margin: 0 auto;
	text-align: center;
}
nav.site-nav .nav-menu ul#primary-menu {
	margin: 0;
	padding: 40px 0;
	list-style-type: none;
	display: inline-block;
}
nav.site-nav .nav-menu ul li {
	display: inline-block;
	margin: 0 10px;
	font-size: 1.15em;
}
/*carousel*/
.carousel {
	position: absolute;
	top: 0;
	cursor: move;
}
.carousel .carousel-item {
	height: 600px;
	width: 100%;
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
/*Featured image*/
.featured-image-container {
	background-color: #C8C8C8 !important;
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 300px;
	width: 100%;
	margin-bottom: 30px;
}


/*---  FOOTER  ---*/
footer.site-footer {
	width: 100%;
	border-top: 3px dotted #DADADA;
	padding: 0;
	text-align: center;
}
/*footer sitemap*/
.site-map-container {
	padding: 50px 0;
	border-bottom: 2px dotted #DADADA;
}
.site-map-container a {
	color: #666666;
}
.site-map-container nav.site-map ul.menu {
	margin: 0;
	padding: 0;
	text-align: left;
}
.site-map-container nav.site-map ul.menu li {
	margin: 7px 0;
}
/*footer main menu*/
footer.site-footer .footer-main-menu {
	text-align: center;
	margin: 20px 0;
}
footer.site-footer ul#footer-menu-1 {
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
footer.site-footer ul#footer-menu-1 li {
	padding: 2px 15px;
	border-right: 1px solid #F56600;
	display: inline-block;
}
footer.site-footer ul#footer-menu-1 li:last-of-type {
	border-right: none;
}
footer.site-footer ul#footer-menu-1 li a {
	color: #F56600;
}
/*footer secondary menu*/
footer.site-footer ul#footer-menu-2 {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}
footer.site-footer ul#footer-menu-2 li {
	display: inline-block;
}
footer.site-footer ul#footer-menu-2 li a {
	color: #999999;
	font-size: 0.9em;
}
footer.site-footer ul#footer-menu-2 li::after {
	content: '•';
	margin: 0 10px;
}
footer.site-footer ul#footer-menu-2 li:last-of-type::after {
	content: '';
	margin: 0;
}
/*footer info*/
footer.site-footer .footer-message,
footer.site-footer .footer-message a {
	color: #999999;
	font-size: 0.9em;
	padding-bottom: 10px;
}

/*---  STATIC FRONT PAGE  ---*/
.static-content {
	padding: 60px 0
}
.static-content blockquote {
	background: #EDF2F5;
	padding: 30px;
	margin: 0;
	border-radius: 5px;
}
.static-content blockquote p {
	font-weight: 700;
	font-size: 1.15em;
	line-height: 1.8em;
	color: #2B5A1E;
}
.static-content blockquote a {
	color: #F56600;
	font-style: italic;
}
.static-content .front-page-cards {
	margin-top: 40px;
}
.static-content .front-page-cards .card {
	margin-top: 10px;
	display: flex;
}
.static-content .front-page-cards .card .thumbnail {
	width: 40%;
}
.static-content .front-page-cards .card .thumbnail img {
	display: block;
	width: 100%;
}
.static-content .front-page-cards .card .card-content {
	flex-grow: 1;
	width: 60%;
	padding: 0 0 0 10px;
}
.static-content .front-page-cards .card .card-content h2 {
	margin: 0 0 10px;
	font-size: 1.3em;
}
.static-content .front-page-cards .card .card-content h2 a {
	color: #F56600;
}
.static-content .front-page-cards .card .card-content p {
	margin: 0;
	font-size: 0.9em;
}

/*CONTACT US TEMPLATE*/
.contact-us-content .page-content form {
	width: 100%;
	max-width: 550px;
	overflow: auto;
}
.contact-us-content .page-content form input,
.contact-us-content .page-content form textarea {
	width: 100%;
}
.contact-us-content .page-content form input[type="submit"] {
	width: auto !important;
	background: #F56600;
	padding: 10px 20px;
	font-size: 1.2em;
	color: #FFFFFF;
	border: none;
	float: right;
	margin: 0 0 30px;
}
.contact-us-content .page-meta {
	background: #EDF2F5;
	border-radius: 5px;
	padding: 30px;
}
.contact-us-content .page-meta h3 {
	color: #2B5A1E;
	margin: 0 0 10px;
}

/*SERVICES OFFERS TEMPLATE*/
.services-offers-list .services-offers-item .image-container {
	background: #000000;
	padding-bottom: 75%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.services-offers-list .services-offers-item .image-container img {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
}
.services-offers-list .services-offers-item .content-container {
	padding-bottom: 30px;
}
.services-offers-list .services-offers-item .content-container h3 {
	margin: 10px 0;
}
.services-offers-list .services-offers-item .content-container p {
	margin: 0;
}








/*
	=============================================
	Media Queries
	=============================================
*/



/*
SMALL ONLY <640px
*/
@media screen and (max-width: 39.9375em) {
	#top-bar p {
		font-size: 0.7em;
	}
	.featured-image-container {
		height: 120px;
	}
	.site-map-container nav.site-map ul.menu {
		text-align: center;
		list-style: none;
		margin: 10px 0;
	}
}

/*
MEDIUM ONLY <1024px and >=640px
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#top-bar p {
		font-size: 0.8em;
	}
	.featured-image-container {
		height: 190px;
	}

}

/*
MEDIUM BELOW <1024px
*/
@media screen and (max-width: 63.9375em) {
	nav.site-nav.front-page-nav {
		background: #FFFFFF
	}
	nav.site-nav.front-page-nav .nav-container {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	nav.site-nav .nav-container{
		padding: 10px;
		position: relative;
		display: block;
	}
	nav.site-nav .logo {
		max-height: 30px;
		max-width: 180px;
		margin: 0;
		float: left;
	}
	nav.site-nav .mobile-nav-btn {
		cursor: pointer;
		float: right;
		margin-right: 10px;
	}
	nav.site-nav [id^=menu-btn]:checked + .nav-menu {
		display: block;
	}
	nav.site-nav #menu-btn {
		display: none;
	}
	nav.site-nav .nav-menu {
		display: none;
	}
	nav.site-nav .nav-menu ul#primary-menu {
		display: block;
		margin-top: 30px;
		padding: 40px 0 10px;
	}
	nav.site-nav .nav-menu ul li {
		display: block;
		font-size: 1.4em;
		padding: 10px;
	}

}

/*
LARGE AND UP >=1024px
*/
@media screen and (min-width: 64em) {

}

/*
LARGE ONLY
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}